<configuration>
    <system.webServer>
        <handlers>
           <clear />
            <add 
                name="StaticFile" 
                path="*" verb="*" 
                modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" 
                resourceType="Either" 
                requireAccess="Read" />
        </handlers>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
		</httpErrors>
    </system.webServer>
	
	<location path="files">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="public">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration> 