<configuration>
    <system.web>
        <customErrors mode="On" redirectMode="ResponseRewrite">
            <error statusCode="404" redirect="/404.aspx"/>
        </customErrors>
    </system.web>
    <system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
		</httpErrors>
    </system.webServer>
	
	<location path="files">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="public">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration> 