<configuration>
    <system.web>
        <customErrors mode="On">
            <error statusCode="404" redirect="/404.aspx"/>
        </customErrors>
        <sessionState mode="Off" />
        <pages enableSessionState="false" validateRequest="false" />
        <roleManager>
            <providers>
                <remove name="AspNetWindowsTokenRoleProvider" />
            </providers>
        </roleManager>
    </system.web>
    <system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
		</httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="Arr-Disable-Session-Affinity" value="True" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
   		<caching>
			<profiles>
				<add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="0.01:00:00" />
				<add extension=".ttf"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7.00:00:00" />
				<add extension=".gif"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7.00:00:00" />
				<add extension=".jpg"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7.00:00:00" />
				<add extension=".png"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7.00:00:00" />
				<add extension=".ico"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7.00:00:00" />
				<add extension=".js"   policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7.00:00:00" />
				<add extension=".css"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7.00:00:00" />
			</profiles>
		</caching>
    </system.webServer>
	
	<location path="files">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="public">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration> 