<configuration>
    <system.webServer>
		<!-- 
			Old URLs include ".aspx" but now there's a redirecting HTML at "xxx.aspx/index.html".
			Therefore we must prevent the ASP.NET pipeline from processing ".aspx"
		-->
        <handlers>
           <clear />
            <add 
                name="StaticFile" 
                path="*" verb="*" 
                modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" 
                resourceType="Either" 
                requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration> 