---
layout: default
---

<article class="post">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    {% include meta.html %}
  </header>
  {{ content }}
</article>

<div class="pagination">
  {% if page.previous %}
    <a class="pagination-item older" href="{{ site.url }}{{page.previous.url}}">{{page.previous.title}}</a>
  {% endif %}
  {% if page.next %}
  <a class="pagination-item newer" href="{{ site.url }}{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</div>

{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h2 class="title">Comments</h2>
    <div id="disqus_thread" aria-live="polite">{% include disqus_thread.html %}</div>
</section>
{% endif %}

<section class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{% include date.html %}{{ time }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</section>
